body{
    background-color:#14131A;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1140px;
    margin: auto;
}
.header{
    display: flex;
    align-items: center;
    padding-top: 40px;
    margin-bottom: 40px;
}
.logo-link{
    display: inline block;
    margin-right: 50px;
}
.nav-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;   
}
.nav-menu-item{
    margin-right: 30px;
}
.nav-menu-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
.date{
    display: block;
    font-size: 24px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 38px;
}
.film-logo{
    margin-bottom: 41px;
}
.film-text{
    max-width: 423px;
    font-size: 16px;
line-height: 140%;
color: rgba(255, 255, 255, 0.8); 
margin: 0;
}
.button-group{
    display: flex;
    align-items: center;
}
.button-primary{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    background: #FFFFFF;
    border-radius: 5px;
    font-size: 14px;
    line-height: 16px;
    color: #8D0019;
    flex: none;
    flex-grow: 0;
    margin: 0px 10px;
    
}
.button-icons{
    margin-right: 10px;
}
.hero-text{
    margin-bottom: 70px;
}
.button-icons1{
    margin-right: 10px;
}
.button-link{
    margin-left: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
}
.Venom-right{
    position: absolute;
    top: 0;
    right: 0;
}
.blood{
    background-image: url('../img/blood.png'), url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position: top right;
}
.general-actor{
    margin-top: 30px;
}
.mini-title{
    margin-bottom: 15px;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
}
.content-title{
    font-size: 36px;
    line-height: 42px;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 21px;
    margin-top: 0;
    margin-top: 50px;
}
.content-subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
}
.col-title-group{
    display: flex;
}
.col-title1{
    margin-right: 60px;
}
.col-title1, .col-title2{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
}
.content{
    display: flex;
}
.col-main2{
    margin-left: 170px;
    margin-top: 50px;
}
.col-main2{
    display: flex;
}
.Scenari-name{
    display: block;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
}
.img-tizer{
    margin-right: 30px;
    top: 0;
}
.Creater{
    margin: 0;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 140%;
    color: rgba(255, 255, 255, 0.8);
}
.block-production{
    margin-bottom: 20px;
}
.block-video{
    background-image: url('../img/Rectangle\ 2.png');
}
.button-play-video{
    margin-top: 30px;
    max-width: 356;
    max-height: 205;
    
    background-repeat: no-repeat;
}
.button-play1{
    width: 45px;
    height: 45px;
    position: absolute ;
    left: 266px;
    top: 580px;
    background: #FFFFFF;
    border-radius: 50px;
}
.button-icons{
    align-items: center;
    margin: 0;
}
